.upload {
  display: flex;
  flex-direction: row;
  color: white;
  margin-top: 10vh;
  width: 80vw;
  height: 100vh;
  margin-bottom: 20vh;
  margin-left: 13vw;
	border-style: solid;
  border-color: rgb(118, 118, 118);
  border-width: 1px;
}

.uploadForm {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 1vh;
  margin-left: 1vw;
  padding: 1vw;
}

  .column1 {
    display: flex;
    flex-direction: column;
    border-color: grey;
    border-right-style: solid;
    padding-right: 2vw;
  }
    .albumPhoto{
      height: 10vw;
      width: 10vw;
      border-style: solid;
      border-color: white;
      border-width: 1px;
      margin-bottom: 5vh;
    }

    .albumName {
      margin-bottom: 1vh;
      height: 5vh;
      width: 20vw;
      font-style: italic;
      color: rgb(142, 142, 142);
    }

    .artist {
      margin-bottom: 1vh;
      max-height: 25px;
      width: 20vw;
      font-style: italic;
      color: rgb(142, 142, 142);
    }

    .releaseDate {
      margin-bottom: 5vh;
      margin-left: 2vw;
      max-height: 25px;
      width: 8vw;
      font-style: italic;
      color: rgb(142, 142, 142);
    }

    .aboutThisAlbum {
      margin-bottom: 1vh;
      height: 15vh;
      width: 20vw;
      font-style: italic;
      color: rgb(142, 142, 142);
    }
    
    .albumCredits {
      margin-bottom: 1vh;
      max-height: 25px;
      width: 20vw;
      font-style: italic;
      color: rgb(142, 142, 142);
    }
    
    .tags {
      margin-bottom: 1vh;
      max-height: 25px;
      width: 20vw;
      font-style: italic;
      color: rgb(142, 142, 142);
    }
    
    .albumUPC {
      margin-bottom: 1vh;
      max-height: 25px;
      width: 20vw;
      font-style: italic;
      color: rgb(142, 142, 142);
    }
    
    .catalogNumber {
      margin-bottom: 1vh;
      max-height: 25px;
      width: 20vw;
      font-style: italic;
      color: rgb(142, 142, 142);
    }
    

  .column2 {
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

    .uploadMenu {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      background-color: grey;
      color: black;
      font-size: 20px;
      text-decoration: none;
    }

    .songName {
      display: flex;
      margin-bottom: 1vh;
      max-height: 25px;
      width: 20vw;
      font-style: italic;
      color: rgb(142, 142, 142);
      background-color: black;
    }
    
    .uploadIcon {
      display: flex;
      flex-direction: column;
      color:rgb(255, 255, 255);
      padding-left: 5vw;
    }

  
    .trackUploadList {
      display: flex;
      
    }

    .buttons {
      display: flex;
      flex-direction: row;
      padding: 1vw;
      font-size: calc(12px + 1vmin);
      margin-left: 30vw;
    }

        .submit {
          width: 10vw;
          color: rgb(0, 0, 0);
          background-color: lightblue;
          position: relative;
        }

        .cancel {
          width: 5vw;
          color: rgb(0, 0, 0);
          position: relative;
          margin-left: 2vw;
          margin-right: 15px;
        }

.TrackInfoContainer {
  display: flex;
  flex-direction: row;
  font-style: italic;
  color: grey;
  justify-content: space-between;
}

.trackName {
 margin-right:20vw;
}

.trackUploadList {
  display: flex;
  flex-direction: column;

}